*.DS_Store
*.pyc
*_lastrun.py
psychopy-demos/adaptive_decision_making_demo/data/*
psychopy-demos/adaptive_hyperbolic_discounting/data/*
psychopy-demos/adaptive_risky_choice/data/*
*.pdf
*.log
.pytest_cache/*
.idea/*
.ipynb_checkpoints*
dev/model testing scratchpad.ipynb
dev/broadcasting tests.ipynb
*.egg-info/*
build/
dist/
