*.DS_Store
*.pyc
*_lastrun.py
psychopy/adaptive_decision_making_demo/data/*
psychopy/adaptive_hyperbolic_discounting/data/*
psychopy/adaptive_risky_choice/data/*
.vscode/*
*.pdf
*.log
.pytest_cache/*
.idea/*
.ipynb_checkpoints*
dev/model testing scratchpad.ipynb
dev/broadcasting tests.ipynb
*.egg-info/*
build/
dist/
